.span-error {
  color: red;
  display: none;
  font-size: 10px;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}
input:invalid[focused="true"] ~ .span-error {
  display: block;
}
.checkbox-round {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #1a1a1a;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-round:checked {
  background-color: #1a1a1a;
}
